body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    width: 100%;
}

.navbar {
    position: absolute;
    width: 100%;
    background-color: dodgerblue;
}

.navbar-brand {
    position: relative;
    color: white;
    text-decoration: none;
    top: 12px;
    left: 20px;
    font-size: 18px;
}

.navbar-nav {
    margin-top: -21px;
    list-style-type: none;
    z-index: -1;
}

.nav-item {
    padding: 10px;
    top: 10px;
    display: inline-block;
}

.nav-item, .nav-link {
    position: relative;
    float: right;
    color: white;
    top: 3px;
    right: 10px;
    text-decoration: none;
    font-size: 18px;
}

.navbar-nav {
    color: white;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    top: 40px;
}

p {
    position: absolute;
    justify-content: center; 
    font-size: 50px;
    color: dodgerblue;
    top: 100px;
}

.sub-heading {
    margin: 18% 20%;
    left: 8%;
}

.page-break {
    height: 5px;
    width: 60%;
    margin-top: 14%;
    align-items: center;
    background-color: dodgerblue;
    border-radius: 10px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: -252%;
}

footer ul{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    background-color: dodgerblue;
    padding: 10px;
}

footer ul li {
    margin:  5px 10px;
}

li .ft-right {
    float: right;
}

.active {
    background-color: white;
    color: dodgerblue;
    padding: 12px;
    margin-top: -13px;
}

.backgroud-txt {
    position: absolute;
    display: flex;
    height: 150%;
    width: 55%;
    background-color: dodgerblue;
    opacity: 0.6;
    align-content: center;
    justify-content: center;
    top: 120%;
    border-radius: 4px;
}

.text-bckgrd {
    background-color: white;
    position: relative;
}

.sub-heading {
    display: flex;
    position: absolute;
    color: white;
    font-size: 20px;
    word-wrap: normal;
    align-items: center;
    top: 17%;
    left: 90px;
    width: 50%;
    font-size: 30px;
}

.mini-nav ul li a {
    text-decoration: none;
    color: white;
}
